.menu {
    display: flex;
    background-color: chocolate;
    height: 44px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    .item {
        font-size: x-large;
        color: white;
        font-weight: bolder;
        border-right-color: white;
        border-right-width: 2px;
        border-right-style: solid;
        padding-right: 7px;
        padding-left: 7px;

        &:hover{
            color: rgb(255, 217, 185);
            cursor: pointer;
            font-weight: bolder;
            text-shadow: rgb(158, 152, 152);
        }
    }
}

