.component{
    background-color: black;
}

.searchBox{
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    input{
        height: 32px;
        border-radius: 10px;
        font-size: x-large;
        padding-left: 10px;
    }
}

.list {
    background-color: black;
    .item {
        text-align: right;
        font-size: xx-large;
        color: white;
        border-top-color: white;
        border-top-width: 2px;
        border-top-style: solid;
        padding-right: 5px;
        cursor: pointer;

        &.odd {
            background-color: rgb(73, 73, 73);
        }

        &:hover {
            color: rgb(170, 170, 0);
            background-color: rgb(36, 36, 36);
        }

        &.selected {
            color: rgb(36, 36, 36);
            background-color: rgb(170, 170, 0);
        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 13px;
    padding: 3px;
    .next,
    .preview {
        font-size: xx-large;
        color: white;
        background-color: chocolate;
        cursor: pointer;
        border-radius: 20px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 7px;
        padding-top: 1px;
        margin-bottom: 7px;
        margin-top: 7px;
        &:hover{
            font-weight: bolder;
        }
    }
}
