<div class="component">
    <div class="searchBox">
        <input placeholder="search" (keyup)="change($event)">
    </div>
    <div class="list">
        <div class="item" *ngFor="let item of pokeListGet; let i = index; let odd = odd"
            [ngClass]="{ 'odd': odd,'selected':selectedPokemon==item}" (click)="onClick(item)">
            {{item.name | titlecase}}</div>
    </div>
    <div class="buttons">
        <div class="preview" *ngIf="index > 0" (click)="preview()">Preview</div>
        <div class="next" *ngIf="index < pokeListGet.length" (click)="next()">Next</div>
    </div>
</div>