<h1>Bienvenidos</h1>
<p>Este es una pagina que consume la <a href="https://pokeapi.co/" target="_blank">PokeApi</a> para aprender angular.</p>
<div class="button" (click)="navigateTo('pokedex')">Pokedex</div>